{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Sessions"
  },
  "servers": [
    {
      "url": "https://verification.didit.me"
    }
  ],
  "tags": [],
  "paths": {
    "/v3/session/": {
      "post": {
        "summary": "Create Session",
        "description": "The Create Session API allows you to generate a URL for a specific workflow where your users can start verifying their identity. Each application is rate-limited per minute — free workflows allow up to 10 session creations per minute, while paid workflows allow up to 600. When these limits are exceeded the endpoint responds with HTTP 429 including standard rate-limit headers so you can decide when to retry.",
        "operationId": "post_v2session",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "session_id": "11111111-2222-3333-4444-555555555555",
                      "session_number": 1234,
                      "session_token": "abcdef123456",
                      "vendor_data": "user-123",
                      "metadata": {
                        "user_type": "premium",
                        "account_id": "ABC123"
                      },
                      "status": "Not Started",
                      "workflow_id": "11111111-2222-3333-4444-555555555555",
                      "callback": "https://example.com/verification/callback",
                      "url": "https://verify.didit.me/session/abcdef123456"
                    },
                    "summary": "Example"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the session."
                    },
                    "session_number": {
                      "type": "integer",
                      "description": "Sequential number assigned to the session."
                    },
                    "session_token": {
                      "type": "string",
                      "description": "Token used to access the verification flow URL."
                    },
                    "vendor_data": {
                      "type": "string",
                      "description": "Identifier provided by the vendor for tracking."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional data associated with the session.",
                      "properties": {
                        "user_type": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the verification session."
                    },
                    "workflow_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Identifier of the workflow used for the session."
                    },
                    "callback": {
                      "type": "string",
                      "format": "uri",
                      "description": "Callback URL to redirect the user after completion."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for the user to complete the verification flow."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Paid Plan": {
                    "value": {
                      "detail": "You don't have enough credits to perform this request. Please top up at https://business.didit.me"
                    },
                    "summary": "Paid Plan"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "No Permission": {
                    "value": {
                      "detail": "You do not have permission to perform this action."
                    },
                    "summary": "No Permission"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Retry-After": {
                "description": "Seconds until a new session creation request is accepted.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum allowed session creations per minute for the current workflow tier (free or paid).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining session creations before throttling resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "UTC epoch seconds when the rate limit window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Human readable explanation describing the current rate limit and when it becomes available again."
                    }
                  }
                },
                "examples": {
                  "Free Tier Limit": {
                    "summary": "Free workflow limit exceeded",
                    "value": {
                      "detail": "Free session creation rate limit exceeded. You can make up to 10 requests per minute per application. Expected available in 42 seconds."
                    }
                  },
                  "Paid Tier Limit": {
                    "summary": "Paid workflow limit exceeded",
                    "value": {
                      "detail": "Paid session creation rate limit exceeded. You can make up to 600 requests per minute per application. Expected available in 12 seconds."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "The API Key for your application. You can obtain it by following the [Quick Start Guide](/reference/quick-start#/).",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "workflow_id": {
                    "type": "string",
                    "description": "The verification workflow to use. You can check how to create a custom workflow and obtain the workflow_id in the [Workflows](/reference/workflows-dashboard/) page.",
                    "x-readme-id": "0.0"
                  },
                  "vendor_data": {
                    "type": "string",
                    "description": "A unique identifier for the vendor or user, such as a UUID or email. This field enables proper session tracking and user data aggregation across multiple verification sessions.",
                    "x-readme-id": "0.1"
                  },
                  "callback": {
                    "type": "string",
                    "description": "URL to redirect the user after verification completes. Didit automatically appends `verificationSessionId` and `status` (Approved, Declined, In Review) as query parameters.",
                    "x-readme-id": "0.2"
                  },
                  "callback_method": {
                    "type": "string",
                    "description": "Determines which device should handle the redirect to the provided callback URL. Use `initiator` to redirect only the device that started the flow, `completer` for the device that finishes it, or `both` to allow either device to trigger the callback. If you ever notice the callback not triggering reliably, we recommend setting this value to `both`.",
                    "enum": [
                      "initiator",
                      "completer",
                      "both"
                    ],
                    "default": "initiator",
                    "x-readme-id": "0.3"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Additional data to store with the session not displayed to the user. For example: `{\"user_type\": \"premium\", \"account_id\": \"ABC123\"}`.",
                    "x-readme-id": "0.4"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code (ISO 639-1) for the verification process interface. Controls the language displayed to the end user during verification. If not provided, the browser's language will be automatically detected and used. Check all the supported languages [here](/reference/supported-languages).",
                    "nullable": true,
                    "enum": [
                      "en",
                      "ar",
                      "bg",
                      "bn",
                      "ca",
                      "cnr",
                      "cs",
                      "da",
                      "de",
                      "el",
                      "es",
                      "et",
                      "fa",
                      "fi",
                      "fr",
                      "he",
                      "hi",
                      "hr",
                      "hu",
                      "hy",
                      "id",
                      "it",
                      "ja",
                      "ka",
                      "ko",
                      "lt",
                      "lv",
                      "mk",
                      "ms",
                      "nl",
                      "no",
                      "pl",
                      "pt-BR",
                      "pt",
                      "ro",
                      "ru",
                      "sk",
                      "sl",
                      "so",
                      "sr",
                      "sv",
                      "th",
                      "tr",
                      "uk",
                      "uz",
                      "vi",
                      "zh-CN",
                      "zh-TW",
                      "zh"
                    ],
                    "x-readme-id": "0.5"
                  },
                  "contact_details": {
                    "type": "object",
                    "description": "User contact information that can be used for notifications, prefilling verification forms, and phone verification. This includes email address, preferred language for communications, and phone number.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Email address of the user (e.g., \"john.doe@example.com\") that will be used during the [Email Verification](/reference/email-verification-core-technology/) step. If not provided, the user must provide it during the verification flow.",
                        "x-readme-id": "1.0"
                      },
                      "send_notification_emails": {
                        "type": "boolean",
                        "default": false,
                        "description": "If true, sends verification status notifications for sessions requiring manual review to the provided email address (e.g., from 'In Review' to 'Approved' or 'Declined'). This helps users return to your application once their verification is complete. If you have white-label activated for the session, the email sent will be white-labeled.",
                        "x-readme-id": "1.1"
                      },
                      "email_lang": {
                        "type": "string",
                        "default": "en",
                        "description": "Language code (ISO 639-1) for email notifications. Controls the language of all email communications (e.g., \"en\", \"es\", \"fr\"). All the supported languages can be found [here](/reference/supported-languages)",
                        "enum": [
                          "en",
                          "ar",
                          "bg",
                          "bn",
                          "ca",
                          "cnr",
                          "cs",
                          "da",
                          "de",
                          "el",
                          "es",
                          "et",
                          "fa",
                          "fi",
                          "fr",
                          "he",
                          "hi",
                          "hr",
                          "hu",
                          "hy",
                          "id",
                          "it",
                          "ja",
                          "ka",
                          "ko",
                          "lt",
                          "lv",
                          "mk",
                          "ms",
                          "nl",
                          "no",
                          "pl",
                          "pt-BR",
                          "pt",
                          "ro",
                          "ru",
                          "sk",
                          "sl",
                          "so",
                          "sr",
                          "sv",
                          "th",
                          "tr",
                          "uk",
                          "uz",
                          "vi",
                          "zh-CN",
                          "zh-TW",
                          "zh"
                        ],
                        "x-readme-id": "1.2"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number in E.164 format (e.g., \"+14155552671\") that will be used during the [Phone Verification](/reference/phone-verification-core-technology/) step. If not provided, the user must provide it during the verification flow.",
                        "x-readme-id": "1.3"
                      }
                    },
                    "x-readme-id": "0.4"
                  },
                  "expected_details": {
                    "type": "object",
                    "description": "Expected user details for cross-validation with extracted verification data.",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "User's first name. For example, `John`. The matching uses fuzzy comparison, and you can tune the strictness by configuring the name match score threshold in the Console for both ID Document and Proof of Address workflows.",
                        "x-readme-id": "1.0"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "User's last name. For example, `Doe`. The matching uses fuzzy comparison, and you can tune the strictness by configuring the name match score threshold in the Console for both ID Document and Proof of Address workflows.",
                        "x-readme-id": "1.1"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "format": "date",
                        "description": "User's date of birth with format: YYYY-MM-DD. For example, `1990-05-15`.",
                        "x-readme-id": "1.2"
                      },
                      "gender": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          "M",
                          "F"
                        ],
                        "default": null,
                        "description": "User's gender. Must be either 'M', 'F', or null.",
                        "x-readme-id": "1.3"
                      },
                      "nationality": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-3 country code representing the applicant's country of origin. For example, `USA`.",
                        "x-readme-id": "1.4"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-3 country code representing the country of the Proof of Address document, or the country of the applicant's ID document, which may differ from nationality. For example, `GBR`.",
                        "x-readme-id": "1.5"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address in a human readable format, including as much information as possible. For example, `123 Main St, San Francisco, CA 94105, USA`.",
                        "x-readme-id": "1.6"
                      },
                      "identification_number": {
                        "type": "string",
                        "description": "The user's document number, personal number, or tax number. For example, `123456789`.",
                        "x-readme-id": "1.7"
                      },
                      "ip_address": {
                        "type": "string",
                        "format": "ipv4",
                        "description": "Expected IP address for the session. If the actual IP address differs from this value, a warning will be logged. For example, `192.168.1.100`.",
                        "x-readme-id": "1.8"
                      }
                    },
                    "x-readme-id": "0.5"
                  },
                  "portrait_image": {
                    "type": "string",
                    "description": "A Base64 encoded portrait image of the user's face, with a maximum size of 1MB. This image is only required for `Biometric Authentication` workflow types that have face match active to perform facial matching against the face captured during the liveness check.",
                    "x-readme-id": "0.6"
                  }
                },
                "type": "object",
                "required": [
                  "workflow_id"
                ]
              }
            }
          }
        }
      }
    },
    "/v3/session/{sessionId}/decision/": {
      "get": {
        "summary": "Retrieve Session",
        "description": "The Retrieve Session API allows you to retrieve the results of a verification session.",
        "operationId": "get_v2session{sessionId}decision",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "summary": "Full Example",
                    "value": {
                      "session_id": "11111111-2222-3333-4444-555555555555",
                      "session_number": 43762,
                      "session_url": "https://verify.didit.me/session/11111111-2222-3333-4444-555555555555",
                      "status": "In Review",
                      "workflow_id": "11111111-2222-3333-4444-555555555555",
                      "features": [
                        "ID_VERIFICATION",
                        "NFC",
                        "LIVENESS",
                        "FACE_MATCH",
                        "POA",
                        "PHONE",
                        "DATABASE_VALIDATION",
                        "AML",
                        "IP_ANALYSIS"
                      ],
                      "vendor_data": "11111111-1111-1111-1111-111111111111",
                      "metadata": {
                        "user_type": "premium",
                        "account_id": "ABC123"
                      },
                      "expected_details": {
                        "first_name": "Carmen",
                        "last_name": "Española Española"
                      },
                      "contact_details": {
                        "email": "carmen@example.com",
                        "email_lang": "es",
                        "send_notification_emails": false
                      },
                      "callback": "https://verify.didit.me/",
                      "id_verifications": [
                        {
                          "node_id": "feature_ocr_1",
                          "status": "Approved",
                          "document_type": "Identity Card",
                          "document_number": "CAA000000",
                          "personal_number": "99999999R",
                          "portrait_image": "https://example.com/portrait.jpg",
                          "front_image": "https://example.com/front.jpg",
                          "front_video": "https://example.com/front.mp4",
                          "back_image": "https://example.com/back.jpg",
                          "back_video": "https://example.com/back.mp4",
                          "full_front_image": "https://example.com/full_front.jpg",
                          "full_back_image": "https://example.com/full_back.jpg",
                          "front_image_camera_front": "https://example.com/front_camera_front.jpg",
                          "back_image_camera_front": "https://example.com/back_camera_front.jpg",
                          "date_of_birth": "1980-01-01",
                          "age": 45,
                          "expiration_date": "2031-06-02",
                          "date_of_issue": "2021-06-02",
                          "issuing_state": "ESP",
                          "issuing_state_name": "Spain",
                          "first_name": "Carmen",
                          "last_name": "Española Española",
                          "full_name": "Carmen Española Española",
                          "gender": "F",
                          "address": "Avda de Madrid 34, Madrid, Madrid",
                          "formatted_address": "Avda de Madrid 34, Madrid, Madrid 28822, Spain",
                          "place_of_birth": "Madrid",
                          "marital_status": "Single",
                          "nationality": "ESP",
                          "extra_fields": {
                            "dl_categories": [],
                            "blood_group": null
                          },
                          "parsed_address": {
                            "id": "7c6280a2-fb6a-4258-93d5-2ac987cbc6ba",
                            "address_type": "Avda",
                            "city": "Madrid",
                            "label": "Spain ID Card Address",
                            "region": "Madrid",
                            "street_1": "Avda de Madrid 34",
                            "street_2": null,
                            "postal_code": "28822",
                            "raw_results": {
                              "geometry": {
                                "location": {
                                  "lat": 37.4222804,
                                  "lng": -122.0843428
                                },
                                "location_type": "ROOFTOP",
                                "viewport": {
                                  "northeast": {
                                    "lat": 37.4237349802915,
                                    "lng": -122.083183169709
                                  },
                                  "southwest": {
                                    "lat": 37.4210370197085,
                                    "lng": -122.085881130292
                                  }
                                }
                              }
                            }
                          },
                          "front_image_camera_front_face_match_score": 95.5,
                          "back_image_camera_front_face_match_score": 93.2,
                          "extra_files": [
                            "https://example.com/extra_id_verification.jpg"
                          ],
                          "matches": [
                            {
                              "session_id": "abc12345-6789-0def-ghij-klmnopqrstuv",
                              "session_number": 1234,
                              "vendor_data": "user_ref_001",
                              "verification_date": "2024-06-15T10:30:00Z",
                              "user_details": {
                                "name": "John Smith",
                                "document_type": "ID",
                                "document_number": "CLM148418"
                              },
                              "status": "Approved",
                              "is_blocklisted": false,
                              "api_service": null,
                              "front_image_url": "https://example.com/document_front.jpg"
                            },
                            {
                              "session_id": "def67890-1234-5abc-hijk-lmnopqrstuvw",
                              "session_number": 1235,
                              "vendor_data": null,
                              "verification_date": "2024-05-20T14:45:00Z",
                              "user_details": {
                                "name": "John Smith",
                                "document_type": "ID",
                                "document_number": "CLM148418"
                              },
                              "status": "Declined",
                              "is_blocklisted": true,
                              "api_service": "ID_VERIFICATION",
                              "front_image_url": "https://example.com/document_front_2.jpg"
                            }
                          ],
                          "warnings": [
                            {
                              "risk": "QR_NOT_DETECTED",
                              "additional_data": null,
                              "log_type": "information",
                              "short_description": "QR not detected",
                              "long_description": "The system couldn't find or read the QR code on the document, which is necessary for document verification. This could be due to poor image quality or an unsupported document type."
                            }
                          ]
                        }
                      ],
                      "nfc_verifications": [
                        {
                          "node_id": "feature_nfc_1",
                          "status": "In Review",
                          "portrait_image": "https://example.com/portrait.jpg",
                          "signature_image": "https://example.com/signature.jpg",
                          "chip_data": {
                            "document_type": "ID",
                            "issuing_country": "ESP",
                            "document_number": "123456789",
                            "expiration_date": "2030-01-01",
                            "first_name": "John",
                            "last_name": "Smith",
                            "birth_date": "1990-05-15",
                            "gender": "M",
                            "nationality": "ESP",
                            "address": "CALLE MAYOR 123 4B, MADRID, MADRID",
                            "place_of_birth": "MADRID, MADRID"
                          },
                          "authenticity": {
                            "sod_integrity": true,
                            "dg_integrity": true
                          },
                          "certificate_summary": {
                            "issuer": "Common Name: CSCA SPAIN, Serial Number: 3, Organization: DIRECCION GENERAL DE LA POLICIA, Country: ES",
                            "subject": "Common Name: DS n-eID SPAIN 2, Organizational Unit: PASSPORT, Organization: DIRECCION GENERAL DE LA POLICIA, Country: ES",
                            "serial_number": "118120836164494130086420187336801405660",
                            "not_valid_after": "2031-02-18 10:21:11",
                            "not_valid_before": "2020-11-18 10:21:11"
                          },
                          "warnings": [
                            {
                              "risk": "DATA_INCONSISTENT",
                              "additional_data": null,
                              "log_type": "warning",
                              "short_description": "OCR and NFC mrz code extracted are not the same",
                              "long_description": "The Optical Character Recognition (OCR) data and the NFC chip data don't match, indicating potential document tampering or data inconsistency."
                            }
                          ]
                        }
                      ],
                      "liveness_checks": [
                        {
                          "node_id": "feature_liveness_1",
                          "status": "Approved",
                          "method": "ACTIVE_3D",
                          "score": 89.92,
                          "reference_image": "https://example.com/reference.jpg",
                          "video_url": "https://example.com/video.mp4",
                          "age_estimation": 24.3,
                          "matches": [
                            {
                              "session_id": "abc12345-6789-0def-ghij-klmnopqrstuv",
                              "session_number": 1234,
                              "vendor_data": "user_ref_001",
                              "verification_date": "2024-06-15T10:30:00Z",
                              "user_details": {
                                "name": "John Smith",
                                "document_type": "ID",
                                "document_number": "CLM148418"
                              },
                              "status": "Approved",
                              "is_blocklisted": false,
                              "api_service": null,
                              "match_image_url": "https://example.com/face_match.jpg",
                              "similarity_percentage": 98.5
                            },
                            {
                              "session_id": "xyz98765-4321-0fed-cba9-876543210fed",
                              "session_number": 1100,
                              "vendor_data": "customer_xyz",
                              "verification_date": "2024-04-10T09:15:00Z",
                              "user_details": {
                                "name": "John Smith",
                                "document_type": "P",
                                "document_number": "DZ8375806"
                              },
                              "status": "Approved",
                              "is_blocklisted": false,
                              "api_service": "PASSIVE_LIVENESS",
                              "match_image_url": "https://example.com/face_match_2.jpg",
                              "similarity_percentage": 95.2
                            }
                          ],
                          "warnings": [
                            {
                              "risk": "LOW_LIVENESS_SCORE",
                              "additional_data": null,
                              "log_type": "information",
                              "short_description": "Low liveness score",
                              "long_description": "The liveness check resulted in a low score, indicating potential use of non-live facial representations or poor-quality biometric data."
                            }
                          ]
                        }
                      ],
                      "face_matches": [
                        {
                          "node_id": "feature_face_match_1",
                          "status": "In Review",
                          "score": 65.43,
                          "source_image": "https://example.com/source-image.jpg",
                          "target_image": "https://example.com/target-image.jpg",
                          "warnings": [
                            {
                              "risk": "LOW_FACE_MATCH_SIMILARITY",
                              "additional_data": null,
                              "log_type": "warning",
                              "short_description": "Low face match similarity",
                              "long_description": "The facial features of the provided image don't closely match the reference image, suggesting a potential identity mismatch."
                            }
                          ]
                        }
                      ],
                      "phone_verifications": [
                        {
                          "node_id": "feature_phone_1",
                          "status": "Approved",
                          "phone_number_prefix": "+34",
                          "phone_number": "600600600",
                          "full_number": "+34600600600",
                          "country_code": "ES",
                          "country_name": "Spain",
                          "carrier": {
                            "name": "Orange",
                            "type": "mobile"
                          },
                          "is_disposable": false,
                          "is_virtual": false,
                          "verification_method": "sms",
                          "verification_attempts": 1,
                          "verified_at": "2024-07-28T06:47:35.654321Z",
                          "lifecycle": [
                            {
                              "type": "PHONE_VERIFICATION_MESSAGE_SENT",
                              "timestamp": "2025-08-24T09:12:39.580554+00:00",
                              "details": {
                                "status": "Success",
                                "reason": null,
                                "is_retry": false
                              },
                              "fee": 0.1
                            },
                            {
                              "type": "VALID_CODE_ENTERED",
                              "timestamp": "2025-08-24T09:12:39.662157+00:00",
                              "details": {
                                "code_tried": "123456",
                                "status": "Approved"
                              },
                              "fee": 0
                            },
                            {
                              "type": "PHONE_VERIFICATION_APPROVED",
                              "timestamp": "2025-08-24T09:12:39.684292+00:00",
                              "details": null,
                              "fee": 0
                            }
                          ],
                          "warnings": []
                        }
                      ],
                      "email_verifications": [
                        {
                          "node_id": "feature_email_1",
                          "status": "Approved",
                          "email": "test@example.com",
                          "is_breached": true,
                          "breaches": [
                            {
                              "name": "TAPAirPortugal",
                              "domain": "flytap.com",
                              "logo_path": "https://logos.haveibeenpwned.com/TAPAirPortugal.png",
                              "breach_date": "2022-08-25",
                              "description": "In August 2022, the Portuguese airline <a href=\"https://www.bleepingcomputer.com/news/security/ragnar-locker-ransomware-claims-attack-on-portugals-flag-airline/\" target=\"_blank\" rel=\"noopener\">TAP Air Portugal was the target of a ransomware attack perpetrated by the Ragnar Locker gang</a> who later leaked the compromised data via a public dark web site. Over 5M unique email addresses were exposed alongside other personal data including names, genders, DoBs, phone numbers and physical addresses.",
                              "is_verified": true,
                              "data_classes": [
                                "dates_of_birth",
                                "email_addresses",
                                "genders",
                                "names",
                                "nationalities",
                                "phone_numbers",
                                "physical_addresses",
                                "salutations",
                                "spoken_languages"
                              ],
                              "breach_emails_count": 6083479
                            }
                          ],
                          "is_disposable": false,
                          "is_undeliverable": false,
                          "verification_attempts": 1,
                          "verified_at": "2025-09-15T17:36:19.963451Z",
                          "warnings": [
                            {
                              "feature": "EMAIL",
                              "risk": "BREACHED_EMAIL_DETECTED",
                              "additional_data": null,
                              "log_type": "information",
                              "short_description": "Breached email detected",
                              "long_description": "This email address was found in one or more known data breaches."
                            }
                          ],
                          "lifecycle": [
                            {
                              "type": "EMAIL_VERIFICATION_MESSAGE_SENT",
                              "timestamp": "2025-09-15T17:36:19.792684+00:00",
                              "details": {
                                "status": "Success",
                                "reason": null
                              },
                              "fee": 0.03
                            },
                            {
                              "type": "VALID_CODE_ENTERED",
                              "timestamp": "2025-09-15T17:36:19.963427+00:00",
                              "details": {
                                "code_tried": "123456",
                                "status": "Approved"
                              },
                              "fee": 0
                            },
                            {
                              "type": "EMAIL_VERIFICATION_DECLINED",
                              "timestamp": "2025-09-15T17:36:20.081471+00:00",
                              "details": {
                                "reason": "BREACHED_EMAIL_DETECTED"
                              },
                              "fee": 0
                            }
                          ]
                        }
                      ],
                      "poa_verifications": [
                        {
                          "node_id": "feature_poa_1",
                          "status": "Declined",
                          "document_file": "https://example.com/poa_document.pdf",
                          "issuing_state": "AR",
                          "document_type": "UTILITY_BILL",
                          "document_language": "es",
                          "document_metadata": {
                            "file_size": 1000,
                            "content_type": "application/pdf",
                            "creation_date": "2021-01-01",
                            "modified_date": "2021-01-01"
                          },
                          "issuer": "Aguas del Norte",
                          "issue_date": "2021-02-01",
                          "poa_address": "AVDA. MONSEÑOR TAVELLA N° 3396, SALTA",
                          "poa_formatted_address": "Av. Monseñor Tavella 3396, A4400 Salta, Argentina",
                          "poa_parsed_address": {
                            "address_type": "Avenida",
                            "street_1": "Avenida Monseñor Tavella 3396",
                            "street_2": null,
                            "city": "Salta",
                            "region": "Salta",
                            "country": "AR",
                            "postal_code": "A4400",
                            "document_location": {
                              "latitude": -24.8208664,
                              "longitude": -65.4131
                            }
                          },
                          "expected_details_address": null,
                          "expected_details_formatted_address": null,
                          "expected_details_parsed_address": {},
                          "extra_fields": {
                            "bank_account_number": "1234567890",
                            "bank_iban": null,
                            "bank_sort_code": null,
                            "bank_routing_number": null,
                            "bank_swift_bic": null,
                            "bank_branch_name": null,
                            "bank_branch_address": null,
                            "document_phone_number": "+5491112345678",
                            "additional_names": []
                          },
                          "extra_files": [
                            "https://example.com/extra_poa.pdf"
                          ],
                          "warnings": []
                        }
                      ],
                      "questionnaire_responses": [
                        {
                          "node_id": "feature_questionnaire_1",
                          "questionnaire_id": "9f7485e0-b00b-4d56-9d3e-7859b68d1213",
                          "title": "Source of Funds",
                          "description": "Reply to this questionnaire to help us understand the source of funds.",
                          "languages": [
                            "en"
                          ],
                          "default_language": "en",
                          "is_active": true,
                          "sections": [
                            {
                              "title": null,
                              "description": null,
                              "items": [
                                {
                                  "uuid": "618636d9-7d5c-41ce-b8d0-1ab2a4be20db",
                                  "order": 1,
                                  "element_type": "DROPDOWN",
                                  "is_required": true,
                                  "title": "What is your primary source of funds?",
                                  "description": null,
                                  "placeholder": null,
                                  "choices": [
                                    {
                                      "label": "Salary",
                                      "value": "salary"
                                    },
                                    {
                                      "label": "Business Income",
                                      "value": "business_income"
                                    },
                                    {
                                      "label": "Savings",
                                      "value": "savings"
                                    },
                                    {
                                      "label": "Investments",
                                      "value": "investments"
                                    },
                                    {
                                      "label": "Sale of Asset",
                                      "value": "sale_of_asset"
                                    },
                                    {
                                      "label": "Inheritance/Gift",
                                      "value": "inheritance_gift"
                                    },
                                    {
                                      "label": "Pension",
                                      "value": "pension"
                                    },
                                    {
                                      "label": "Crypto Proceeds",
                                      "value": "crypto_proceeds"
                                    },
                                    {
                                      "label": "Other",
                                      "value": "other",
                                      "requires_text_input": true
                                    }
                                  ],
                                  "max_files": 1,
                                  "answer": {
                                    "value": "salary"
                                  }
                                },
                                {
                                  "uuid": "2d16b527-72be-42e0-8e96-b164b818386c",
                                  "order": 2,
                                  "element_type": "LONG_TEXT",
                                  "is_required": true,
                                  "title": "Provide details of the primary source.",
                                  "description": "e.g., employer/company name, role, industry, business nature, asset sold, date of inheritance/gift, etc.",
                                  "placeholder": null,
                                  "choices": null,
                                  "max_files": 1,
                                  "answer": {
                                    "value": "Test answer"
                                  }
                                },
                                {
                                  "uuid": "a9239b7c-fbfb-4ea7-b7e4-c835cd4016e0",
                                  "order": 3,
                                  "element_type": "DROPDOWN",
                                  "is_required": true,
                                  "title": "What is your annual income range (pre-tax)?",
                                  "description": null,
                                  "placeholder": null,
                                  "choices": [
                                    {
                                      "label": "Less than $25,000",
                                      "value": "<25k"
                                    },
                                    {
                                      "label": "$25,000 - $50,000",
                                      "value": "25k-50k"
                                    },
                                    {
                                      "label": "$50,001 - $100,000",
                                      "value": "50k-100k"
                                    },
                                    {
                                      "label": "$100,001 - $250,000",
                                      "value": "100k-250k"
                                    },
                                    {
                                      "label": "More than $250,000",
                                      "value": ">250k"
                                    }
                                  ],
                                  "max_files": 1,
                                  "answer": {
                                    "value": "<25k"
                                  }
                                },
                                {
                                  "uuid": "93dede62-6d0c-4a7f-934d-42175eb94011",
                                  "order": 4,
                                  "element_type": "DROPDOWN",
                                  "is_required": true,
                                  "title": "What is your approximate net worth (range)?",
                                  "description": null,
                                  "placeholder": null,
                                  "choices": [
                                    {
                                      "label": "Less than $50,000",
                                      "value": "<50k"
                                    },
                                    {
                                      "label": "$50,000 - $250,000",
                                      "value": "50k-250k"
                                    },
                                    {
                                      "label": "$250,001 - $1,000,000",
                                      "value": "250k-1m"
                                    },
                                    {
                                      "label": "$1,000,001 - $5,000,000",
                                      "value": "1m-5m"
                                    },
                                    {
                                      "label": "More than $5,000,000",
                                      "value": ">5m"
                                    }
                                  ],
                                  "max_files": 1,
                                  "answer": {
                                    "value": "<50k"
                                  }
                                },
                                {
                                  "uuid": "2af60d6f-6961-4692-9ee7-24b3033610a6",
                                  "order": 5,
                                  "element_type": "LONG_TEXT",
                                  "is_required": true,
                                  "title": "For your initial deposit/funding, indicate the exact source and amount.",
                                  "description": "e.g., 'salary from ACME Ltd – July 2025 payroll'",
                                  "placeholder": null,
                                  "choices": null,
                                  "max_files": 1,
                                  "answer": {
                                    "value": "Test answer"
                                  }
                                },
                                {
                                  "uuid": "0ad9d1aa-736f-46cf-947b-9e1241b53e40",
                                  "order": 6,
                                  "element_type": "LONG_TEXT",
                                  "is_required": true,
                                  "title": "Breakdown of sources by percentage.",
                                  "description": "e.g., Salary 70%, Investments 20%, Other 10%",
                                  "placeholder": null,
                                  "choices": null,
                                  "max_files": 1,
                                  "answer": {
                                    "value": "Test answer"
                                  }
                                },
                                {
                                  "uuid": "1bf8a2a3-14ee-48a8-bb3d-175481aae4aa",
                                  "order": 7,
                                  "element_type": "SINGLE_CHOICE",
                                  "is_required": true,
                                  "title": "Will any funds originate from third parties? If yes, please provide details.",
                                  "description": null,
                                  "placeholder": null,
                                  "choices": [
                                    {
                                      "label": "Yes",
                                      "value": "yes",
                                      "requires_text_input": true
                                    },
                                    {
                                      "label": "No",
                                      "value": "no"
                                    }
                                  ],
                                  "max_files": 1,
                                  "answer": {
                                    "text": "Additional details",
                                    "value": "yes"
                                  }
                                },
                                {
                                  "uuid": "e18d4dd3-b7bf-4883-ba18-d6046adbe313",
                                  "order": 8,
                                  "element_type": "SINGLE_CHOICE",
                                  "is_required": true,
                                  "title": "Do you hold or plan to use virtual assets (e.g., crypto) to fund this account? If yes, please provide details.",
                                  "description": null,
                                  "placeholder": null,
                                  "choices": [
                                    {
                                      "label": "Yes",
                                      "value": "yes",
                                      "requires_text_input": true
                                    },
                                    {
                                      "label": "No",
                                      "value": "no"
                                    }
                                  ],
                                  "max_files": 1,
                                  "answer": {
                                    "text": "Additional details",
                                    "value": "yes"
                                  }
                                },
                                {
                                  "uuid": "a90a073d-e098-404c-bbce-5130d8b12a13",
                                  "order": 9,
                                  "element_type": "FILE_UPLOAD",
                                  "is_required": true,
                                  "title": "Upload a proof of funds document",
                                  "description": "You can upload your three (3) most recent bank statements, three (3) most recent payslips, your most recent tax return, proof of company ownership, trading exchange statement, sale of property, or proof of inheritance.",
                                  "placeholder": null,
                                  "choices": null,
                                  "max_files": 3,
                                  "answer": {
                                    "files": [
                                      "/media/ocr/",
                                      "/media/ocr/"
                                    ]
                                  }
                                },
                                {
                                  "uuid": "9503b486-7cb8-4c3b-a97d-4b64926a5a47",
                                  "order": 10,
                                  "element_type": "LONG_TEXT",
                                  "is_required": false,
                                  "title": "Would you like to add any details to help us expedite our review of the documents you submitted?",
                                  "description": "You may provide any additional information or context regarding your uploaded documents.",
                                  "placeholder": null,
                                  "choices": null,
                                  "max_files": 1,
                                  "answer": {
                                    "value": "Test answer"
                                  }
                                }
                              ]
                            }
                          ],
                          "status": "Approved"
                        }
                      ],
                      "aml_screenings": [
                        {
                          "node_id": "feature_aml_1",
                          "status": "In Review",
                          "total_hits": 1,
                          "entity_type": "person",
                          "hits": [
                            {
                              "id": "cPtTGRKkyddAcAC4xgsLCm",
                              "url": "https://www.wikidata.org/wiki/Q126539671",
                              "match": false,
                              "score": 0.73,
                              "target": null,
                              "caption": "David Sánchez Pérez-Castejón",
                              "datasets": [
                                "PEP"
                              ],
                              "features": null,
                              "rca_name": "",
                              "last_seen": "2025-06-13T00:00:00",
                              "risk_view": {
                                "crimes": {
                                  "score": 0,
                                  "weightage": 20,
                                  "risk_level": "Low",
                                  "risk_scores": {}
                                },
                                "countries": {
                                  "score": 0,
                                  "weightage": 30,
                                  "risk_level": "Low",
                                  "risk_scores": {}
                                },
                                "categories": {
                                  "score": 100,
                                  "weightage": 50,
                                  "risk_level": "High",
                                  "risk_scores": {
                                    "PEP": 100
                                  }
                                },
                                "custom_list": {}
                              },
                              "first_seen": "2025-01-18T00:00:00",
                              "properties": {
                                "name": [
                                  "David Sánchez Pérez-Castejón"
                                ],
                                "alias": [
                                  "David Sánchez Pérez-Castejón",
                                  "David Azagra"
                                ],
                                "notes": [
                                  "Spanish orchestra conductor"
                                ],
                                "title": null,
                                "gender": [
                                  "male"
                                ],
                                "height": null,
                                "topics": null,
                                "weight": null,
                                "address": null,
                                "country": null,
                                "website": null,
                                "eyeColor": null,
                                "keywords": null,
                                "lastName": [
                                  "Sánchez",
                                  "Pérez-Castejón"
                                ],
                                "position": null,
                                "religion": null,
                                "birthDate": [
                                  "1974"
                                ],
                                "education": [
                                  "Tokyo Arts and Space (2012-2012)",
                                  "Saint Petersburg Conservatory (-2010)",
                                  "Comillas Pontifical University"
                                ],
                                "ethnicity": null,
                                "firstName": [
                                  "David"
                                ],
                                "hairColor": null,
                                "weakAlias": null,
                                "birthPlace": [
                                  "Madrid"
                                ],
                                "modifiedAt": null,
                                "wikidataId": null,
                                "citizenship": null,
                                "nationality": null
                              },
                              "match_score": 98,
                              "risk_score": 73,
                              "review_status": "Unreviewed",
                              "score_breakdown": {
                                "name_score": 95,
                                "name_weight": 60,
                                "name_weight_normalized": 70.59,
                                "name_contribution": 67.06,
                                "dob_score": 100,
                                "dob_weight": 25,
                                "dob_weight_normalized": 29.41,
                                "dob_contribution": 29.41,
                                "country_score": 0,
                                "country_weight": 15,
                                "country_weight_normalized": 0,
                                "country_contribution": 0,
                                "document_number_match_type": "NEUTRAL",
                                "document_number_effect": "No document number provided for screening",
                                "total_score": 98
                              },
                              "pep_matches": [
                                {
                                  "aliases": [
                                    "David Sánchez Pérez-Castejón",
                                    "David Azagra"
                                  ],
                                  "education": [
                                    "Tokyo Arts and Space (2012-2012)",
                                    "Saint Petersburg Conservatory (-2010)",
                                    "Comillas Pontifical University"
                                  ],
                                  "list_name": "Wikidata",
                                  "publisher": "Wikidata",
                                  "source_url": "https://www.wikidata.org/wiki/Q126539671",
                                  "description": "Wikidata is the structured data project of the Wikipedia community, providing fact-based information edited by humans and machines",
                                  "matched_name": "David Sánchez Pérez-Castejón",
                                  "pep_position": "",
                                  "date_of_birth": "1974",
                                  "other_sources": [],
                                  "place_of_birth": "Madrid"
                                }
                              ],
                              "linked_entities": [
                                {
                                  "name": [
                                    "Pedro Sánchez"
                                  ],
                                  "active": [],
                                  "status": [],
                                  "details": [],
                                  "relation": []
                                }
                              ],
                              "warning_matches": [],
                              "sanction_matches": [],
                              "adverse_media_details": {
                                "sentiment": "Moderately Negative",
                                "entity_type": "person",
                                "sentiment_score": -2,
                                "adverse_keywords": {
                                  "fraud": 3,
                                  "juicio": 1,
                                  "delitos": 2,
                                  "imputado": 1,
                                  "impunidad": 1,
                                  "corruption": 2,
                                  "favoritism": 2,
                                  "privilegio": 1,
                                  "corrupción": 1,
                                  "persecution": 2,
                                  "desconfianza": 1,
                                  "desprestigio": 1,
                                  "fraude de ley": 2,
                                  "manipulación": 1,
                                  "investigación": 3,
                                  "prevaricación": 8,
                                  "trato de favor": 1,
                                  "irregularidades": 2,
                                  "crisis de confianza": 1,
                                  "tráfico de influencias": 8
                                }
                              },
                              "adverse_media_matches": [
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez is implicated in legal violations related to favoritism and influence trafficking, leading to a negative portrayal in the article.",
                                  "headline": "La Diputación de Badajoz consolida la plaza a medida para el ex asesor de Moncloa amigo del \"hermanito\" de Sánchez",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://phantom-elmundo.uecdn.es/cc1a93b3dc34de90978255ac2f0bc64a/crop/0x28/755x531/f/webp/assets/multimedia/imagenes/2025/06/10/17495802073838.jpg",
                                  "source_url": "https://www.elmundo.es/espana/extremadura/2025/06/10/68486e41e9cf4aff318b4584.html#ancla_comentarios",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "fraud",
                                    "prevaricación",
                                    "tráfico de influencias",
                                    "irregularidades",
                                    "imputado"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-10T20:46:38"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez is implicated in legal issues regarding favoritism and corruption, leading to a negative portrayal in the article.",
                                  "headline": "La Diputación de Badajoz consolida la plaza a medida para el ex asesor de Moncloa amigo del \"hermanito\" de Sánchez",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://phantom-elmundo.uecdn.es/cc1a93b3dc34de90978255ac2f0bc64a/crop/0x28/755x531/f/webp/assets/multimedia/imagenes/2025/06/10/17495802073838.jpg",
                                  "source_url": "https://www.elmundo.es/espana/extremadura/2025/06/10/68486e41e9cf4aff318b4584.html",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "fraud",
                                    "prevaricación",
                                    "tráfico de influencias",
                                    "irregularidades",
                                    "trato de favor"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-10T20:46:38"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez Pérez-Castejón is mentioned in connection with Miguel Ángel Gallardo's corruption case, indicating his involvement in alleged influence peddling.",
                                  "headline": "España, paraíso del aforado",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://eladelantado.com/wp-content/uploads/2020/07/EMILIO-MONTERO.jpg",
                                  "source_url": "https://eladelantado.com/opinion/tribuna/espana-paraiso-del-aforado/",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "prevaricación",
                                    "tráfico de influencias",
                                    "corrupción",
                                    "impunidad",
                                    "privilegio",
                                    "desconfianza",
                                    "manipulación",
                                    "fraude de ley"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-10T05:05:34"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez Pérez-Castejón is implicated in the same investigation as Gallardo, which raises questions about his conduct and political ethics.",
                                  "headline": "Aforamientos: esa figura incómoda",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://estaticos-cdn.prensaiberica.es/clip/8eac61b9-2840-4449-bed4-90d9f725b2fe_16-9-discover-aspect-ratio_default_0.jpg",
                                  "source_url": "https://www.laprovincia.es/opinion/20250608/aforamientos-figura-incomoda-118362206.html",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "prevaricación",
                                    "tráfico de influencias",
                                    "investigación",
                                    "juicio",
                                    "fraude de ley",
                                    "desprestigio",
                                    "crisis de confianza",
                                    "delitos"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-08T06:01:00"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez is implicated in a legal investigation regarding irregularities in his hiring, which raises serious concerns about his conduct.",
                                  "headline": "La jueza del 'caso David Sánchez' denuncia un «fraude de ley» en el aforamiento de Gallardo (PSOE)",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://www.periodistadigital.com/wp-content/uploads/2025/05/MIGUELANGELGALLARDOPSOE.jpeg",
                                  "source_url": "https://www.periodistadigital.com/politica/parlamento/20250609/jueza-caso-david-sanchez-denuncia-fraude-ley-aforamiento-gallardo-psoe-noticia-689405098733/",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "fraud",
                                    "irregularities",
                                    "prevaricación",
                                    "tráfico de influencias"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-09T10:19:10"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez Pérez-Castejón is mentioned in connection with legal allegations of corruption, contributing to a negative perception.",
                                  "headline": "'Caso aforamiento': la letrada mayor de la Asamblea certifica a la juez que Gallardo es diputado desde antes de prometer su cargo en el Pleno",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://phantom-elmundo.uecdn.es/cdfe952e2eb32d418a246ef5eb9be3e3/crop/90x60/3072x2048/resize/1200/f/webp/assets/multimedia/imagenes/2025/06/09/17494564540210.jpg",
                                  "source_url": "https://www.elmundo.es/espana/extremadura/2025/06/09/6846967921efa0ce1d8b45a4.html",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "prevaricación",
                                    "tráfico de influencias"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-09T08:08:30"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez Pérez-Castejón is implicated in the same investigation as Gallardo, raising concerns about political corruption and influence.",
                                  "headline": "Aforamientos: esa figura incómoda",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://estaticos-cdn.prensaiberica.es/clip/8eac61b9-2840-4449-bed4-90d9f725b2fe_16-9-discover-aspect-ratio_default_0.jpg",
                                  "source_url": "https://www.laprovincia.es/opinion/2025/06/08/aforamientos-figura-incomoda-118362206.html",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "prevaricación",
                                    "tráfico de influencias",
                                    "investigación"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-08T06:01:00"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez Pérez-Castejón is implicated in the same investigation as Gallardo, which raises concerns about political misconduct.",
                                  "headline": "Aforamientos: esa figura incómoda",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://estaticos-cdn.prensaiberica.es/clip/8eac61b9-2840-4449-bed4-90d9f725b2fe_16-9-discover-aspect-ratio_default_0.jpg",
                                  "source_url": "https://www.eldia.es/opinion/2025/06/08/aforamientos-figura-incomoda-118361478.html",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "prevaricación",
                                    "tráfico de influencias",
                                    "investigación",
                                    "delitos"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-08T06:00:59"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez is implicated in a case of favoritism and corruption, which casts a negative light on his character and actions.",
                                  "headline": "'Caso David Sánchez': las asociaciones judiciales salen en defensa de la juez Beatriz Biedma ante las \"presiones externas\" que sufre",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://phantom-elmundo.uecdn.es/be126dc17613b0ba543ad59c7d492e07/crop/2x0/1842x1227/resize/1200/f/webp/assets/multimedia/imagenes/2025/06/06/17491963870306.jpg",
                                  "source_url": "https://www.elmundo.es/espana/extremadura/2025/06/06/68429e1cfc6c8377048b4578.html",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "favoritism",
                                    "corruption",
                                    "persecution"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-06T10:08:15"
                                },
                                {
                                  "country": "spain",
                                  "summary": "David Sánchez is implicated in a case of alleged favoritism and corruption, which casts a negative light on his character and actions.",
                                  "headline": "'Caso David Sánchez': las asociaciones judiciales salen en defensa de la juez Beatriz Biedma ante las \"presiones externas\" que sufre",
                                  "sentiment": "moderately negative",
                                  "thumbnail": "https://phantom-elmundo.uecdn.es/be126dc17613b0ba543ad59c7d492e07/crop/2x0/1842x1227/resize/1200/f/webp/assets/multimedia/imagenes/2025/06/06/17491963870306.jpg",
                                  "source_url": "https://www.elmundo.es/espana/extremadura/2025/06/06/68429e1cfc6c8377048b4578.html#ancla_comentarios",
                                  "author_name": null,
                                  "other_sources": [],
                                  "adverse_keywords": [
                                    "favoritism",
                                    "corruption",
                                    "persecution"
                                  ],
                                  "sentiment_score": -2,
                                  "publication_date": "2025-06-06T08:08:15"
                                }
                              ],
                              "additional_information": {}
                            }
                          ],
                          "score": 80,
                          "screened_data": {
                            "full_name": "David Sánchez Pérez-Castejón",
                            "nationality": "ES",
                            "date_of_birth": "1974-01-01",
                            "document_number": null
                          },
                          "warnings": [
                            {
                              "risk": "POSSIBLE_MATCH_FOUND",
                              "additional_data": null,
                              "log_type": "warning",
                              "short_description": "Possible match found in AML screening",
                              "long_description": "The Anti-Money Laundering (AML) screening process identified potential matches with watchlists or high-risk databases, requiring further review."
                            }
                          ]
                        }
                      ],
                      "ip_analyses": [
                        {
                          "node_id": "feature_ip_1",
                          "status": "Approved",
                          "device_brand": "Apple",
                          "device_model": "iPhone",
                          "browser_family": "Mobile Safari",
                          "os_family": "iOS",
                          "platform": "mobile",
                          "device_fingerprint": "didit-fp-a1b2c3d4e5f6g7h8",
                          "ip_country": "Spain",
                          "ip_country_code": "ES",
                          "ip_state": "Barcelona",
                          "ip_city": "Barcelona",
                          "latitude": 41.4022,
                          "longitude": 2.1407,
                          "ip_address": "83.50.226.71",
                          "isp": null,
                          "organization": null,
                          "is_vpn_or_tor": false,
                          "is_data_center": false,
                          "time_zone": "Europe/Madrid",
                          "time_zone_offset": "+0100",
                          "locations_info": {
                            "ip": {
                              "location": {
                                "latitude": 40.2206327,
                                "longitude": 1.5770097
                              },
                              "distance_from_id_document": 23.4,
                              "distance_from_poa_document": 12.3
                            },
                            "id_document": {
                              "location": {
                                "latitude": 41.2706327,
                                "longitude": 1.9770097
                              },
                              "distance_from_ip": 23.4,
                              "distance_from_poa_document": 18.7
                            },
                            "poa_document": {
                              "location": {
                                "latitude": 41.2706327,
                                "longitude": 1.9770097
                              },
                              "distance_from_ip": 12.3,
                              "distance_from_id_document": 18.7
                            }
                          },
                          "warnings": []
                        }
                      ],
                      "database_validations": [
                        {
                          "node_id": "feature_db_validation_1",
                          "issuing_state": "BRA",
                          "validation_type": "one_by_one",
                          "screened_data": {
                            "last_name": "De Lima",
                            "first_name": "Fernando",
                            "tax_number": "01234567890",
                            "date_of_birth": "1980-01-01",
                            "document_type": "ID",
                            "expiration_date": "2030-01-01"
                          },
                          "validations": [
                            {
                              "validation": {
                                "full_name": "full_match",
                                "date_of_birth": "full_match",
                                "identification_number": "full_match"
                              },
                              "source_data": {
                                "identification_number": "01234567890",
                                "first_name": "FERNANDO",
                                "last_name": "DE LIMA",
                                "date_of_birth": "1980-01-01",
                                "gender": "M",
                                "nationality": "BRA"
                              }
                            }
                          ],
                          "match_type": "full_match",
                          "status": "Approved",
                          "warnings": []
                        }
                      ],
                      "reviews": [
                        {
                          "user": "compliance@example.com",
                          "new_status": "Declined",
                          "comment": "Possible match found in AML screening",
                          "created_at": "2024-07-18T13:29:00.366811Z"
                        }
                      ],
                      "created_at": "2024-07-24T08:54:25.443172Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique identifier of the session for which to retrieve verification results."
                    },
                    "session_number": {
                      "type": "integer",
                      "description": "The number of the session."
                    },
                    "session_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "The URL of the session."
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the session."
                    },
                    "workflow_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique identifier of the workflow for which to retrieve verification results."
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The feature of the session."
                      }
                    },
                    "vendor_data": {
                      "type": "string",
                      "description": "The vendor data of the session."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "The metadata of the session."
                    },
                    "expected_details": {
                      "type": "object",
                      "description": "Expected user details for cross-validation with extracted verification data.",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "User's first name. For example, `John`."
                        },
                        "last_name": {
                          "type": "string",
                          "description": "User's last name. For example, `Doe`."
                        },
                        "date_of_birth": {
                          "type": "string",
                          "format": "date",
                          "description": "User's date of birth with format: YYYY-MM-DD. For example, `1990-05-15`."
                        },
                        "gender": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "M",
                            "F"
                          ],
                          "default": null,
                          "description": "User's gender. Must be either 'M', 'F', or null."
                        },
                        "nationality": {
                          "type": "string",
                          "description": "ISO 3166-1 alpha-3 country code representing the applicant's country of origin. For example, `USA`."
                        },
                        "country": {
                          "type": "string",
                          "description": "ISO 3166-1 alpha-3 country code representing the country of the Proof of Address document, or the country of the applicant's ID document, which may differ from nationality. For example, `GBR`."
                        },
                        "address": {
                          "type": "string",
                          "description": "The address in a human readable format, including as much information as possible. For example, `123 Main St, San Francisco, CA 94105, USA`."
                        },
                        "identification_number": {
                          "type": "string",
                          "description": "The user's document number, personal number, or tax number. For example, `123456789`."
                        },
                        "ip_address": {
                          "type": "string",
                          "format": "ipv4",
                          "description": "Expected IP address for the session. If the actual IP address differs from this value, a warning will be logged. For example, `192.168.1.100`."
                        }
                      }
                    },
                    "contact_details": {
                      "type": "object",
                      "description": "User contact information that can be used for notifications, prefilling verification forms, and phone verification. This includes email address, preferred language for communications, and phone number.",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Email address of the user (e.g., \"john.doe@example.com\") that will be used during the Email Verification step. If not provided, the user must provide it during the verification flow."
                        },
                        "email_lang": {
                          "type": "string",
                          "description": "Language code (ISO 639-1) for email notifications. Controls the language of all email communications (e.g., \"en\", \"es\", \"fr\")."
                        },
                        "send_notification_emails": {
                          "type": "boolean",
                          "default": false,
                          "description": "If true, sends verification status notifications for sessions requiring manual review to the provided email address."
                        },
                        "phone": {
                          "type": "string",
                          "description": "Phone number of the user in E.164 format if available (e.g., +14155552671)."
                        }
                      }
                    },
                    "callback": {
                      "type": "string",
                      "format": "uri",
                      "description": "The callback URL of the session."
                    },
                    "id_verification": {
                      "type": "object",
                      "description": "The ID verification of the session.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Status of the ID verification"
                        },
                        "document_type": {
                          "type": "string",
                          "description": "Type of identity document"
                        },
                        "document_number": {
                          "type": "string",
                          "description": "Document identification number"
                        },
                        "personal_number": {
                          "type": "string",
                          "description": "Personal identification number"
                        },
                        "portrait_image": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the portrait image"
                        },
                        "front_image": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the front document image"
                        },
                        "front_video": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the front document video"
                        },
                        "back_image": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the back document image"
                        },
                        "back_video": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the back document video"
                        },
                        "full_front_image": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the full front document image"
                        },
                        "full_back_image": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the full back document image"
                        },
                        "front_image_camera_front": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the front document image captured from the front-facing camera"
                        },
                        "back_image_camera_front": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL of the back document image captured from the front-facing camera"
                        },
                        "date_of_birth": {
                          "type": "string",
                          "format": "date",
                          "description": "Date of birth from document"
                        },
                        "age": {
                          "type": "integer",
                          "description": "Calculated age from date of birth"
                        },
                        "expiration_date": {
                          "type": "string",
                          "format": "date",
                          "description": "Document expiration date"
                        },
                        "date_of_issue": {
                          "type": "string",
                          "format": "date",
                          "description": "Document issue date"
                        },
                        "issuing_state": {
                          "type": "string",
                          "description": "ISO code of issuing state"
                        },
                        "issuing_state_name": {
                          "type": "string",
                          "description": "Full name of issuing state"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "First name from document"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "Last name from document"
                        },
                        "full_name": {
                          "type": "string",
                          "description": "Full name from document"
                        },
                        "gender": {
                          "type": "string",
                          "description": "Gender from document"
                        },
                        "address": {
                          "type": "string",
                          "description": "Raw address from document"
                        },
                        "formatted_address": {
                          "type": "string",
                          "description": "Formatted full address"
                        },
                        "place_of_birth": {
                          "type": "string",
                          "description": "Place of birth from document"
                        },
                        "marital_status": {
                          "type": "string",
                          "description": "Marital status from document"
                        },
                        "nationality": {
                          "type": "string",
                          "description": "ISO nationality code"
                        },
                        "extra_fields": {
                          "type": "object",
                          "description": "Additional document fields",
                          "properties": {
                            "dl_categories": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "blood_group": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
[...]
